server {
  listen 80;
  listen [::]:80;

  server_name example.invalid;

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name example.invalid;

    ssl_certificate         /etc/letsencrypt/live/example.invalid/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/example.invalid/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/example.invalid/chain.pem;

    ssl_dhparam /etc/letsencrypt/dhparams/dhparam.pem;

    root /usr/share/nginx/html;

    location / {
        include uwsgi_params;
        uwsgi_pass app:9090;
    }

    location /static {
        alias /usr/share/uffd/uffd/static;
    }
}
